@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  /* font-family: "Poppins", sans-serif; */
  font-family: "Urbanist", sans-serif;

}

body{
  /* font-family: "Poppins", sans-serif; */
  font-family: "Urbanist", sans-serif;

}


.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto
}

@media (min-width:576px) {
    .container,
    .container-sm {
        max-width: 540px
    }
}

@media (min-width:768px) {
    .container,
    .container-md,
    .container-sm {
        max-width: 720px
    }
}

@media (min-width:992px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm {
        max-width: 960px
    }
}

@media (min-width:1200px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1140px
    }
}

@media (min-width:1400px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1320px
    }
}

.sidebarMobile {
  display: block;
  position: fixed;
  left: 0%;
  top: 0%;
  width: 50%;
  height: 100%;
  /* box-shadow: 0 2px 10px #ccc; */
}

.sidebar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000093;
  z-index: 20;
  display: block;
}

.sidebarMobile .nav-menu {
  padding: 20px;
  display: inline-block !important;
}

.stats-bg{
  background-image: url(./assets/bg1.jpg);
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.stats-bg::before{
  background-color: #00000093;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: '';
}
.bg-custom-gradient{
  transition: all 0.3s ease-out 0s;
}
.bg-custom-gradient:hover{
  transform: translateY(-2px);
  background-image: linear-gradient(180deg, #f868a4 0%, #870a3c 100%);
}
.bg-sec{
  background-image: url(assets/dashbord-bg-1.png);
  width: 100%;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.stats-sec{
  padding: 45px 180px 45px 180px;
  z-index: 1;
  /* background: linear-gradient(90.97deg, #8A4AF8 2.52%, #A14AF8 99.41%); */
  background-color: #05003B;
  box-shadow: 0px 20px 20px rgba(64, 16, 120, 0.18);
  border-radius: 20px;
}

.service-sec .service-img{
  position: relative;
  margin-top: 40px;
}
.service-sec .service-img::before {
  position: absolute;
  content: "";
  width: 160px;
  height: 160px;
  line-height: 160px;
  text-align: center;
  border-radius: 50%;
  background-color: #E4F7FF;
  opacity: 0.6;
  z-index: -1;
  bottom: 13px;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.service-sec:hover .service-img::before{
  width: 200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  border-radius: 50%;
  bottom: 0;
}
.service-sec .service-img img {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.service-sec:hover .service-img img {
  transform: translateY(-42px);
}
.accordion__button{
  font-size: 20px;
  font-weight: 600;
  color: #000000;
}
.contact-bg{
  background-image: url(assets/contact-4-bg.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width:768px) {
  .stats-sec {
    padding: 45px 80px 45px 80px;
    z-index: 1;
    /* background: linear-gradient(90.97deg, #8A4AF8 2.52%, #A14AF8 99.41%); */
    background-color: #05003B;
    box-shadow: 0px 20px 20px rgba(64, 16, 120, 0.18);
    border-radius: 20px;
  }
  }